@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  background-color: white;
  color: black;
  font-family: Poppins;
}

.dark body {
  background-color: #111;
  color: gray;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
  margin-bottom: 50px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.footer {
  position: fixed;
  background-color: dodgerblue;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.footer-text {
  color: #111;
  font-size: 12px;
}

.footer-text i {
  color: #111;
  font-size: 18px;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: dodgerblue;
}

.nav-links {
  width: 100%;
  top: 4rem;
  left: 48px;
  background-color: dodgerblue;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: dodgerblue;
}

.nav-links a:hover,
a:focus {
  background-color: gray;
  color: #111;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

  .footer-text {
    font-size: 20px;
  }

  .footer-text i {
    font-size: 25px;
  }
}
