---
import Social from './Social.astro';
---

<footer class='footer'>
  <p class='footer-text'>
    Learn more about my projects on GitHub
    <Social platform='GitHub' username='V3ND3TTi'
      ><i class='fa-brands fa-github'></i>
    </Social>
  </p>
  <p class='footer-text'>
    Let's link up on Twitter <Social platform='Twitter' username='V3ND3TTi'
      ><i class='fa-brands fa-twitter'></i>
    </Social>
  </p>
</footer>

<script src='https://kit.fontawesome.com/99dfc685ad.js' crossorigin='anonymous'
></script>
